$white      : #fff;
$black      : #000;
$light-gray : #808080;
$light-green: #4af6cd;
$green      : #008000;
$orange     : #ffab0f;

//main
$main-btn-link-color              : $white;
$main-button-next-page-bg         : $white;
$modal-popup-bg                   : $black;
$main-bg                          : $black;
$main-color                       : $white;
$main-title-before                : $light-green;
$main-btn-icon-color              : $white;
$main-btn-icon-color-hover        : $light-green;
$main-text-left-headline-after-bg : $white;
$main-text-left-headline-before-bg: $white;
$main-btn-link-bg                 : $light-green;
$main-btn-link-before-bg          :$white;

//header
$header-aside-border                               : $white;
$header-slider-indication-item-border              : $white;
$header-slider-control-button-hover-bg             : $light-gray;
$header-indicator-active-slide-bg                  : $light-green;
$header-slider-control-map-before-color            : $light-green;
$header-aside-bg                                   : $black;
$header-mobile-bg                                  : $light-green;
$header-mobile-container-visuallyHidden-button-item: $white;
$header-aside-nav-list-item-link-color-hover       : $light-green;

//surf
$surf-slider-item-btn-arrow-bg                   : $white;
$surf-slider-item-btn                            : $light-green;
$surf-slider-item-inner-bg                       : $black;
$surf-slider-control-map-point-bg                : $light-green;
$surf-map-point-description-bg                   : $black;
$surf-map-point-description-location-title-border: $green;
$surf-slider-item-active-show-color              : $orange;

//sleep 
$sleep-book-item-title-control-color: $light-green;

//shoop 
$shop-content-inner-order-view-feature-label-bg          : $white;
$shop-content-inner-order-view-feature-label-rectangle-bg: $light-green;
$shop-content-inner-order-view-feature-text-before-bg    : $white;
$shop-content-inner-order-view-feature-text-border       : $white;
$shop-content-inner-order-view-feature-text-bg           : $black;
$shop-content-inner-order-view-zoom-hover                : $white;


//footer