//font-size

$font-size-xxs: 0.63rem; //9px
$font-size-xs: 0.75rem; //10px
$font-size-s-default: 12px; //12px
$font-size-m: 1.16rem; //14px
$font-size-l: 1.33rem; //16px
$font-size-xl: 1.5rem; //22px
$font-size-xxl: 1.83rem; //24px
$font-size-xxxl: 2rem; //40px
$font-size-xxxxl: 3.33rem; //40px
$font-size-xxxxxl: 5.8rem; //70px
$font-size-6xl: 6.67rem; //80px
$font-size-7xl: 16.67rem; //200px

